
*{
    font-family: 'Orbitron', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: 100vh;
    overflow:hidden;
}
h1 {
    font-size: 50px;
    margin-bottom: 200px;
}
.console{
    position: relative;
    background-color: black;
    min-width: 400px;
    height: 400px;
    border-radius:50%;
}
.blackcircle1, .blackcircle2, 
.blackcircle3, .blackcircle4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.blackcircle1{
    transform: translate(-50%,-30%);
}
.blackcircle2{
    transform: translate(-50%,5%);
}
.blackcircle3{
    transform: translate(120%,-230%);
}
.blackcircle4{
    transform: translate(120%,-195%);
}
.circle1, .circle2,
.circle3, .circle4{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}
.circle1 {
    background-color: green;    
}
.circle2 {
    background-color: darkred;    
}
.circle3 {
    background-color: darkgoldenrod;
}
.circle4 {
    background-color: blue;
}

.button{   
    border-radius: none;
    transform: translate(75%,-2050%);    
    cursor: pointer;
    width: 160px;
    height: 40px;
    font-size: 28px;
}
.turn, .turn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width:50px;
    height:30px;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 3px;  
}
.turn {
    transform: translate(500%,-2150%);
}
.turn2{    
    transform: translate(70%,-1950%);  
}
.on{
    background-color: red;
    width:16px;
    height: 16px;
    border-radius: 50%;
    transform: translate(1200%, -5000%);
}  